* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  ::selection{
    background-color: black;
    color: whitesmoke;
  }
}

header {
  background-color: #ffffff;
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100; /* Ensures header stays above other content */
}

h1 {
  color: #333333;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

nav {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

li a {
  color: #555555;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  transition: color 0.3s;
  padding: 5px 0;
  position: relative;
  text-decoration: none;
}

li a:hover {
  color: #000000;
}

li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f3821a;
  transition: width 0.3s;
}

li a:hover::after {
  width: 100%;
}

/* Különleges stílus a "·" elválasztóhoz */
li a :not(:last-child)::before {
  content: "·";
  position: absolute;
  right: -23px;
  color: #aaaaaa;
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.hamburger .line {
  height: 3px;
  width: 100%;
  background-color: #333;
  transition: all 0.3s ease;
}
.logo-es-motto:hover{
  cursor: pointer;
}

.language-switcher {
  margin-left: 20px;
}

#lang-btn {
  background: #f3821a; /* Narancssárga háttér */
  color: white; /* Fehér szöveg */
  border: 2px solid #f3821a;
  padding: 5px 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 5px;
}

#lang-btn:hover,
#lang-btn:active,
#lang-btn:focus {
  background-color: #f3821a; /* Marad narancssárga */
  color: white; /* Marad fehér */
}

/* Mobile styles */
@media (max-width: 878px) {
  header {
    padding: 15px 5%;
  }
  
  .hamburger {
    display: flex;
    z-index: 1001;
  }
  
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    max-width: 300px;
    height: 100vh;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transition: right 0.5s ease;
    z-index: 1000;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .nav-links.active {
    right: 0;
  }
  
  li:not(:last-child)::before {
    display: none;
  }
  
  /* Animation for hamburger when active */
  .hamburger.active .line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  
  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  #lang-btn {
    padding: 12px 20px; /* Nagyobb tapaszt felület */
  }
}